<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Main content-->
    <h1><%= title %></h1>
    <p>Welcome to the workout tracker!</p>
    <p>Navigate to the workouts tab and start tracking your workouts today!</p>
    <p>"The best time to start is yesterday, the second best is now" - Ziyad Khan</p>
<%- include Partials/footer.ejs%>